* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* display: flex; */
    min-width: 100vw;
    min-height: 100vh;
    background: #4281A4;
}
#main-container {
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.navbar {
    height: 10vh;
    width: 100%;
    padding-top: 15px;
    color: #E6B89C;
    font-family: fantasy, sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
}
.controls-container {
    width: 500px;
    height: 600px;
    background-color: #9CAFB7;
    align-items: flex-end;
}
.controls-1 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.controls-1 button {
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border-color: #FE938C;
    background-color: #FE938C;
    color: white;
    font-weight: bold;
}
.controls-1 button:hover {
    background-color: #E6B89C;
    border-color: #E6B89C;
    cursor: pointer;
}
.controls-2, .controls-3 {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #E6B89C;
    padding: 15px;
}
.controls-2 div, .controls-3 div {
    display: flex;
    gap: 5px;
}
.box {
    width: 50px;
    height: 20px;
    border: solid 1px #a2a1a1;
    background-color: #d3d3d3;
}
.slider {
    appearance: none;
    width: 100%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 25px;
  background: #4281A4;
  cursor: pointer;
}
.controls-3 {
    height: 340px;
}

